
<div class="container">
  <div class="row">
    <div class="col-md-1 col-md-offset-1">
      <span id="startTime"></span>
    </div>
    <div class="col-md-1">
      <div id="stopButton"></div>
    </div>
    <div class="col-md-1">
      <div id="previousButton"></div>
    </div>
    <div class="col-md-1">
      <div id="fastBackwardButton"></div>
    </div>
    <div class="col-md-1">
      <div id="playButton"></div>
      <div id="pauseButton"></div>
    </div>
    <div class="col-md-1">
      <div id="fastForwardButton"></div>
    </div>
    <div class="col-md-1">
      <div id="nextButton"></div>
    </div>
    <div class="col-md-1 live">
      <div id="liveView"></div>
    </div>
    <div class="col-md-1">
      <span id="endTime"></span>
    </div>

  </div>
</div>