      <div class="container">
        <div id="progressBar"></div>
        <div class="row">
          <div class="col-md-1 col-md-offset-1">
            <span id="currentTime"></span>
          </div>
          <div class="col-md-1">
            <div id="stopButton"></div>
          </div> 
          <div class="col-md-1">
            <div id="previousButton"></div>
          </div>
          <div class="col-md-1">
            <div id="jumpBackwardTimeButton"></div>
          </div>
          <div class="col-md-1">
            <div id="fastBackwardButton"></div>
          </div>
          <div class="col-md-1">
            <div id="playButton"></div>
            <div id="pauseButton"></div>
          </div>
          <div class="col-md-1">
            <div id="fastForwardButton"></div>
          </div>
          <div class="col-md-1">
            <div id="jumpForwardTimeButton"></div>
          </div>
          <div class="col-md-1">
            <div id="nextButton"></div>
          </div>
          
          <div class="col-md-1">
            <span id="duration"></span>
          </div>
          <div class="col-md-1">
            <span id="speedIndicator"></span>
          </div>
    
        </div>
      </div>
      
      
   
